version: "3"

services:
  app:
    build:
      context: .
    environment:
      - DB_HOST=db
      - DB_NAME=django_db
      - DB_USER=django_user
      - DB_PASS=kabul
      - DB_PORT=5433
    depends_on:
      - db
    ports:
      - "8001:8001"
    volumes:
      - ./django_hotels:/django_hotels
    command: >
      sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8001"
  
  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=django_db
      - POSTGRES_USER=django_user
      - POSTGRES_PASSWORD=kabul
    ports:
      - "5433:5433"
    volumes:
      - ./data:/var/lib/postgresql/data
    command: -p 5433

volumes:
  data: